/* Google Font - Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

/* Variables */
:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    /* Fonts */
    --fonts-main: "Outfit", sans-serif;
}

/* Global Rules */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--very-dark-blue-main-bg);
    color: var(--soft-blue);
    font-family: var(--fonts-main);
    cursor: default;
}

/* Reset Some Elements */
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* Mobile first */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container__card {
    max-width: 18rem;
    padding: 1.5rem;
    background: var(--very-dark-blue-card-bg);
    border-radius: 0.2rem;
    box-shadow: 0.5rem 0.5rem var(--cyan);
}

.card__image {
    width: 25%;
    border-radius: 0.2rem;
    border-left: 0.2rem var(--cyan) solid;
}

.card__title,
.about__title,
.technologies__title,
.socials__title {
    margin-top: 1rem;
    color: var(--cyan);
}

.about__title,
.technologies__title,
.socials__title {
    font-size: 1.17rem;
}

.technologies__icons,
.socials__links {
    margin-top: 0.5rem;
}

.technologies__icon:not(:first-child) {
    margin-left: 0.5rem;
}

.technologies__icon:hover,
.socials__link:hover {
    color: var(--cyan);
    transition: color 1s;
}

.socials__link {
    font-weight: bold;
}

.card__footer {
    margin-top: 1.5rem;
    font-weight: 300;
    font-size: 0.8rem;
}

/* Tablet and Desktop */
@media only screen and (min-device-width: 768px) {
    .container__card {
        max-width: 32rem;
    }
}
